Repository phrazzld/leyline: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-front-matter, check-index-with-yaml-validation, validate-python-examples

validate-yaml-front-matter:
  name: Validate YAML front-matter in markdown files
  description: Ensures markdown files use valid YAML front-matter (legacy horizontal rule format not supported)
  entry: bash -c 'ruby tools/validate_front_matter.rb -f "$1"' --
  language: system
  fail_fast: true
  verbose: true

check-index-with-yaml-validation:
  name: Check index consistency with YAML validation
  description: Validates all files can be properly indexed (YAML validation)
  entry: ruby tools/reindex.rb --strict
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-python-examples:
  name: Validate Python code examples
  description: Validates Python code blocks in Python binding markdown files
  entry: bash -c 'ruby tools/validate_python_examples.rb -f "$1"' --
  language: system
  fail_fast: true
  verbose: true

test: verify python binding front-matter validation is configured
  TODO.md
Due: none

feat: complete Python binding category implementation
  .github/workflows/validate.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  PLAN-CONTEXT.md
  PLAN.md
  TODO.md
  docs/DEVELOPMENT_PHILOSOPHY.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_FRONTEND.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_GO.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_RUST.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_SWIFT.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_TYPESCRIPT.md
  docs/bindings/00-index.md
  docs/bindings/categories/go/dependency-injection-patterns.md
  docs/bindings/categories/go/error-wrapping.md
  docs/bindings/categories/go/interface-design.md
  docs/bindings/categories/go/package-design.md
  docs/bindings/categories/python/dependency-management.md
  docs/bindings/categories/python/error-handling.md
  docs/bindings/categories/python/package-structure.md
  docs/bindings/categories/python/testing-patterns.md
  docs/bindings/categories/python/type-hinting.md
  docs/bindings/categories/typescript/module-organization.md
  docs/bindings/categories/typescript/no-any.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation, validate-python-examples

fix: replace fragile gitleaks installation with official GitHub Action
  .github/workflows/validate.yml
  TODO.md
Due: none

chore: mark T018 complete - gitleaks CI fix successful
  TODO.md
Due: none

feat: implement resilient gitleaks fallback installation strategies
  .github/workflows/validate.yml
  TODO.md
Due: none

chore: mark T019 complete - fallback gitleaks strategies implemented
  TODO.md
Due: none

docs: add comprehensive CI dependency management best practices
  CONTRIBUTING.md
  TODO.md
Due: none

chore: mark T020 complete - CI dependency management documentation added
  TODO.md
Due: none

feat: implement comprehensive CI pipeline health monitoring
  .github/workflows/validate.yml
  TODO.md
Due: none

chore: mark T021 complete - comprehensive CI health monitoring implemented
  TODO.md
Due: none

feat: create new binding category directories
  TODO.md
Due: none

refactor: move state-management.md to react category
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/react/state-management.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

refactor: move web-accessibility.md to web category
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/web/web-accessibility.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: add binding for pnpm usage in Node.js projects
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/typescript/use-pnpm-for-nodejs.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: complete comprehensive binding category refactor
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/api/rest-first-api-design.md
  docs/bindings/categories/browser-extensions/browser-extension-security-patterns.md
  docs/bindings/categories/cli/cli-developer-experience.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat(bindings): add core toolchain selection and technology preference bindings
  docs/bindings/00-index.md
  docs/bindings/core/preferred-technology-patterns.md
  docs/bindings/core/toolchain-selection-criteria.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat(bindings): add API, CLI, and browser extension category bindings
  docs/bindings/00-index.md
  docs/bindings/categories/api/api-documentation-requirements.md
  docs/bindings/categories/api/api-versioning-strategy.md
  docs/bindings/categories/api/rest-api-standards.md
  docs/bindings/categories/browser-extension/cross-browser-compatibility.md
  docs/bindings/categories/browser-extension/extension-permissions-model.md
  docs/bindings/categories/browser-extension/extension-update-strategy.md
  docs/bindings/categories/cli/cli-error-handling.md
  docs/bindings/categories/cli/cli-help-and-documentation.md
  docs/bindings/categories/cli/command-interface-design.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

fix(docs): remove invalid tenet link from Related Bindings section
  docs/bindings/categories/browser-extension/extension-update-strategy.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

chore: ignore glance files
  .gitignore
Due: none

fix: exclude glance.md files from reindex processing
  docs/bindings/core/toolchain-selection-criteria.md
  tools/reindex.rb
Due: validate-yaml-front-matter, check-index-with-yaml-validation

docs: fix grammar error in preferred-technology-patterns
  docs/bindings/core/preferred-technology-patterns.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

refactor(python): promote uv as primary dependency manager
  docs/bindings/00-index.md
  docs/bindings/categories/python/dependency-management.md
  docs/bindings/categories/python/modern-python-toolchain.md
  docs/bindings/categories/python/pyproject-toml-configuration.md
  docs/bindings/categories/python/ruff-code-quality.md
  docs/bindings/categories/python/type-hinting.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation, validate-python-examples

docs: complete cross-references for Python bindings modernization
  docs/bindings/categories/python/dependency-management.md
  docs/bindings/categories/python/type-hinting.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation, validate-python-examples

refactor(python): promote uv as primary dependency management tool
  TODO.md
  docs/bindings/categories/python/dependency-management.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation, validate-python-examples

chore: mark T002 complete - uv workflow examples already comprehensive
  TODO.md
Due: none

chore: mark completed Python binding tasks as [x]
  TODO.md
Due: none

feat: complete python bindings modernization
  TODO.md
  docs/bindings/categories/python/dependency-management.md
  docs/bindings/categories/python/error-handling.md
  docs/bindings/categories/python/modern-python-toolchain.md
  docs/bindings/categories/python/package-structure.md
  docs/bindings/categories/python/pyproject-toml-configuration.md
  docs/bindings/categories/python/ruff-code-quality.md
  docs/bindings/categories/python/testing-patterns.md
  docs/bindings/categories/python/type-hinting.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation, validate-python-examples

chore: delete todo
  TODO.md
Due: none

feat: complete comprehensive testing strategy foundation analysis
  TODO.md
  research/testing-strategy-foundation-analysis.md
Due: none

feat: define comprehensive scope and cross-reference matrix for 6 testing bindings
  TODO.md
  docs/design/testing-bindings-architecture.md
Due: none

feat(bindings): implement quality metrics and monitoring binding
  .pre-commit-config.yaml
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/core/quality-metrics-and-monitoring.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat(bindings): implement test environment management binding
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/core/test-environment-management.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

test: complete comprehensive validation of binding implementation standards
  T009-validation-report.md
  TODO.md
  docs/bindings/core/code-review-excellence.md
  docs/bindings/core/quality-metrics-and-monitoring.md
  docs/bindings/core/test-environment-management.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

chore: finalize documentation integration and validation for binding implementation
  TODO.md
Due: none

test: complete risk mitigation analysis and establish measurement framework
  T011-risk-mitigation-analysis.md
  TODO.md
Due: none

chore: complete document length enforcement infrastructure implementation
  .github/workflows/validate.yml
  TODO.md
Due: none

refactor: dramatically streamline performance-testing-standards.md from 2008 to 166 lines
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/core/performance-testing-standards.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

refactor: dramatically streamline test-data-management.md from 2011 to 225 lines
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/core/test-data-management.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

refactor: reduce test-pyramid-implementation.md from 1416 to 201 lines
  T009-validation-report.md
  T011-risk-mitigation-analysis.md
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/api/api-documentation-requirements.md
  docs/bindings/categories/api/api-versioning-strategy.md
  docs/bindings/categories/api/rest-api-standards.md
  docs/bindings/categories/browser-extension/cross-browser-compatibility.md
  docs/bindings/categories/browser-extension/extension-permissions-model.md
  docs/bindings/categories/browser-extension/extension-update-strategy.md
  docs/bindings/categories/cli/cli-error-handling.md
  docs/bindings/categories/cli/cli-help-and-documentation.md
  docs/bindings/categories/cli/command-interface-design.md
  docs/bindings/core/preferred-technology-patterns.md
  docs/bindings/core/test-pyramid-implementation.md
  docs/bindings/core/toolchain-selection-criteria.md
  execute-instructions.md
  tools/check_document_length.rb
Due: validate-yaml-front-matter, check-index-with-yaml-validation

refactor: reduce 5 verbose bindings from 4,860 to 1,469 lines (70% reduction)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/core/automated-quality-gates.md
  docs/bindings/core/ci-cd-pipeline-standards.md
  docs/bindings/core/continuous-refactoring.md
  docs/bindings/core/layered-architecture.md
  docs/bindings/core/use-structured-logging.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

Path conditions:
  validate-yaml-front-matter: any of: ^docs/(tenets|bindings)/.*\.md$ and \.(md|markdown|mdown)$ and not (^docs/(tenets|bindings)/00-index\.md$)
  check-index-with-yaml-validation: any of: ^docs/(tenets|bindings)/.*\.md$ and \.(md|markdown|mdown)$ and not (^docs/(tenets|bindings)/00-index\.md$)
  validate-python-examples: any of: ^docs/bindings/categories/python/.*\.md$ and \.(md|markdown|mdown)$
