Repository phrazzld/leyline: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-front-matter, check-index-with-yaml-validation, validate-python-examples

validate-yaml-front-matter:
  name: Validate YAML front-matter in markdown files
  description: Ensures markdown files use valid YAML front-matter (legacy horizontal rule format not supported)
  entry: bash -c 'ruby tools/validate_front_matter.rb -f "$1"' --
  language: system
  fail_fast: true
  verbose: true

check-index-with-yaml-validation:
  name: Check index consistency with YAML validation
  description: Validates all files can be properly indexed (YAML validation)
  entry: ruby tools/reindex.rb --strict
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-python-examples:
  name: Validate Python code examples
  description: Validates Python code blocks in Python binding markdown files
  entry: bash -c 'ruby tools/validate_python_examples.rb -f "$1"' --
  language: system
  fail_fast: true
  verbose: true

refactor: reduce 6 verbose tenets from 1,117 to 377 lines (66% reduction)
  TODO.md
  docs/tenets/00-index.md
  docs/tenets/document-decisions.md
  docs/tenets/explicit-over-implicit.md
  docs/tenets/fix-broken-windows.md
  docs/tenets/maintainability.md
  docs/tenets/no-secret-suppression.md
  docs/tenets/testability.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: create comprehensive conciseness guide and enforcement integration
  .github/pull_request_template.md
  CONTRIBUTING.md
  TODO.md
  docs/CONCISENESS_GUIDE.md
Due: none

chore: complete success criteria validation for testing strategy implementation
  TODO.md
Due: none

fix: resolve test data factory determinism contradiction
  TODO.md
  docs/bindings/core/test-data-management.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

chore: add critical CI resolution tasks for document length violations
  TODO.md
Due: none

fix: reduce 3 tenets to meet 150-line limit and unblock CI
  TODO.md
  docs/tenets/adaptability-and-reversibility.md
  docs/tenets/dry-dont-repeat-yourself.md
  docs/tenets/simplicity.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

chore: mark CI003 complete - systematic refactoring process established
  TODO.md
Due: none

feat: complete document conciseness refactoring with systematic infrastructure
  docs/bindings/00-index.md
  docs/bindings/categories/database/read-replica-patterns.md
  docs/bindings/categories/python/dependency-management.md
  docs/bindings/categories/rust/configuration-management.md
  docs/bindings/categories/rust/trait-composition-patterns.md
  docs/bindings/categories/security/authentication-authorization-patterns.md
  docs/bindings/categories/security/secrets-management-practices.md
  docs/bindings/categories/security/secure-coding-checklist.md
  docs/bindings/categories/typescript/functional-composition-patterns.md
  docs/bindings/core/dependency-management.md
  docs/systematic-refactoring-process.md
  execute-instructions.md
  tools/analyze_verbosity_patterns.rb
  tools/batch_refactoring_workflow.rb
  tools/refactoring-priority-matrix.md
  tools/refactoring-template.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation, validate-python-examples

refactor: complete moderate document violations batch (CVF005)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/database/audit-logging-implementation.md
  docs/bindings/categories/database/data-validation-at-boundaries.md
  docs/bindings/categories/database/database-testing-strategies.md
  docs/bindings/categories/database/transaction-management-patterns.md
  docs/bindings/categories/go/dependency-injection-patterns.md
  docs/bindings/categories/security/input-validation-standards.md
  docs/bindings/categories/typescript/type-safe-state-management.md
  docs/bindings/core/centralized-configuration.md
  docs/bindings/core/code-size.md
  docs/bindings/core/comprehensive-security-automation.md
  docs/bindings/core/context-propagation.md
  docs/bindings/core/extract-common-logic.md
  docs/bindings/core/feature-flag-management.md
  docs/bindings/core/incremental-delivery.md
  docs/bindings/core/technical-debt-tracking.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

chore: enhance refactoring process based on CVF001-CVF010 lessons learned
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/go/interface-design.md
  docs/bindings/categories/rust/ownership-patterns.md
  docs/bindings/categories/typescript/module-organization.md
  docs/bindings/core/api-design.md
  docs/bindings/core/development-environment-consistency.md
  docs/bindings/core/normalized-data-design.md
  docs/bindings/core/pure-functions.md
  docs/bindings/core/runtime-adaptability.md
  docs/bindings/core/system-boundaries.md
  docs/bindings/core/unified-documentation.md
  docs/ci-compliance-verification-guide.md
  docs/systematic-refactoring-process.md
  tools/batch_refactoring_workflow.rb
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: complete observability tenet analysis (T001)
  TODO.md
  observability-analysis-summary.md
Due: none

feat: complete observability tenet with automatic indexing (T002-T007, T010)
  TODO.md
  docs/tenets/00-index.md
  docs/tenets/observability.md
  thinktank.log
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: complete observability tenet implementation (T008-T011)
  .gitignore
  TODO.md
  observability-implementation-log.md
Due: none

feat: complete grug-leyline philosophical gap analysis (G001)
  TODO.md
  research/grug-leyline-gap-analysis.md
Due: none

feat: complete developer psychology research (G002)
  TODO.md
  research/developer-psychology-research.md
Due: none

feat: create humble-confidence tenet (G003)
  TODO.md
  docs/tenets/00-index.md
  docs/tenets/humble-confidence.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: create integration-first-testing binding (G008)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/core/integration-first-testing.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: create natural-refactoring-points binding (G011)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/core/natural-refactoring-points.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: create avoid-premature-abstraction binding (G012)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/core/avoid-premature-abstraction.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: create saying-no-effectively binding (G017)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/core/saying-no-effectively.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: create 80-20-solution-patterns binding (G018)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/core/80-20-solution-patterns.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: enhance simplicity tenet with grug metaphors (G013)
  TODO.md
  docs/tenets/simplicity.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: complete grug brained developer integration
  TODO.md
  docs/announcements/grug-integration-2025-06.md
  docs/bindings/00-index.md
  docs/bindings/categories/go/embrace-boring-code.md
  docs/bindings/categories/typescript/avoid-type-gymnastics.md
  docs/bindings/core/complexity-detection-patterns.md
  docs/bindings/core/debugger-first-development.md
  docs/bindings/core/regression-test-patterns.md
  docs/bindings/core/tooling-investment.md
  examples/grug-patterns.md
  process/grug-adoption-tracking.md
  process/grug-wisdom-review.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

docs: establish TypeScript version specification policy
  PLAN-CONTEXT.md
  PLAN.md
  TICKET-CONTEXT.md
  TODO.md
  docs/decisions/2025-06-18-typescript-version-specification-policy.md
  observability-analysis-summary.md
  observability-implementation-log.md
  thinktank.log
Due: none

docs: define TypeScript configuration file location strategy
  TODO.md
  docs/decisions/2025-06-18-typescript-configuration-file-locations.md
Due: none

docs: establish TypeScript enforcement strictness strategy
  TODO.md
  docs/decisions/2025-06-18-typescript-enforcement-strictness.md
Due: none

feat: create modern TypeScript toolchain foundation binding
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/typescript/modern-typescript-toolchain.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat(typescript): implement vitest testing framework binding (T002)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/typescript/vitest-testing-framework.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat(typescript): implement tsup build system binding (T003)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/typescript/tsup-build-system.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat(typescript): implement package.json standards binding (T004)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/typescript/package-json-standards.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat(typescript): implement TanStack Query state management binding (T005)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/typescript/tanstack-query-state.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: implement ESLint/Prettier zero-suppression binding (T006)
  TODO.md
  docs/bindings/00-index.md
  docs/bindings/categories/typescript/eslint-prettier-setup.md
Due: validate-yaml-front-matter, check-index-with-yaml-validation

feat: implement comprehensive YAML validation with structured logging (V001)
  .github/workflows/ci.yml
  TODO.md
  lib/error_collector.rb
  tools/validate_front_matter.rb
Due: none

feat: implement cross-reference validation infrastructure (V002)
  .github/workflows/ci.yml
  TODO.md
  docs/bindings/categories/typescript/eslint-prettier-setup.md
  docs/bindings/categories/typescript/modern-typescript-toolchain.md
  docs/bindings/categories/typescript/package-json-standards.md
  docs/bindings/categories/typescript/tanstack-query-state.md
  docs/bindings/categories/typescript/tsup-build-system.md
  docs/bindings/categories/typescript/vitest-testing-framework.md
  tools/validate_cross_references.rb
Due: validate-yaml-front-matter, check-index-with-yaml-validation

fix: resolve Ruby dependency error in cross-reference validation
  TODO.md
  tools/validate_cross_references.rb
Due: none

feat: implement comprehensive defensive programming for validation tools
  TODO.md
  lib/error_collector.rb
  tools/reindex.rb
  tools/validate_cross_references.rb
  tools/validate_front_matter.rb
Due: none

feat: implement local CI simulation script for pre-push validation
  CLAUDE.md
  TODO.md
  tools/run_ci_checks.rb
Due: none

feat: implement automated TypeScript binding configuration validation
  .github/workflows/validate-typescript-bindings.yml
  CLAUDE.md
  TODO.md
  tools/validate_typescript_bindings.rb
Due: none

feat: implement comprehensive supply chain security and toolchain integration
  .gitignore
  TODO.md
  docs/bindings/categories/typescript/modern-typescript-toolchain.md
  docs/bindings/categories/typescript/package-json-standards.md
  docs/bindings/categories/typescript/tanstack-query-state.md
  examples/typescript-full-toolchain/.env.example
  examples/typescript-full-toolchain/.github/workflows/verify-typescript-toolchain-integration.yml
  examples/typescript-full-toolchain/.gitignore
  examples/typescript-full-toolchain/.npmrc
  examples/typescript-full-toolchain/.prettierrc
  examples/typescript-full-toolchain/COMPATIBILITY_MATRIX.md
  examples/typescript-full-toolchain/INTEGRATION_GUIDE.md
  examples/typescript-full-toolchain/MIGRATION_GUIDE.md
  examples/typescript-full-toolchain/README.md
  examples/typescript-full-toolchain/SECURITY.md
  examples/typescript-full-toolchain/SUPPLY_CHAIN_SECURITY.md
  examples/typescript-full-toolchain/eslint.config.js
  examples/typescript-full-toolchain/package.json
  examples/typescript-full-toolchain/pnpm-lock.yaml
  examples/typescript-full-toolchain/scripts/security-scan.sh
  examples/typescript-full-toolchain/src/index.ts
  examples/typescript-full-toolchain/src/user-api.ts
  examples/typescript-full-toolchain/tests/index.test.ts
  examples/typescript-full-toolchain/tests/msw-setup.ts
  examples/typescript-full-toolchain/tests/user-api.test.ts
  examples/typescript-full-toolchain/tsconfig.json
  examples/typescript-full-toolchain/tsup.config.ts
  examples/typescript-full-toolchain/vitest.config.ts
  thinktank.log
  tools/validate_typescript_toolchain_integration.rb
Due: validate-yaml-front-matter, check-index-with-yaml-validation

Path conditions:
  validate-yaml-front-matter: any of: ^docs/(tenets|bindings)/.*\.md$ and \.(md|markdown|mdown)$ and not (^docs/(tenets|bindings)/00-index\.md$)
  check-index-with-yaml-validation: any of: ^docs/(tenets|bindings)/.*\.md$ and \.(md|markdown|mdown)$ and not (^docs/(tenets|bindings)/00-index\.md$)
  validate-python-examples: any of: ^docs/bindings/categories/python/.*\.md$ and \.(md|markdown|mdown)$
